@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
	--color-dark: #0d0c11;
	--color-accent: #629677;
	--color-light: #f1e4e8;

	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	min-height: 100vh;
	background-color: var(--color-dark);
	color: var(--color-light);
	line-height: 1;
}

* {
	user-select: none;
	z-index: 0;
}

.sep {
	margin: -0.3ch;
}

#clock,
#next {
	font-family: "Space Mono", serif;
}

#clock {
	font-size: 10em;
	padding-right: 0.1ch;
}

#next {
	font-size: 1em;
	display: block;
}

#info-bottom {
	text-align: right;
	display: flex;
	justify-content: space-between;
}

#clock,
#info-bottom {
	position: relative;
	opacity: 1;
	top: 0px;
	transition: opacity 1s ease-out, top 1s ease-out;
}

.opening {
	#clock,
	#info-bottom {
		opacity: 0;
		top: 20px;
	}
}

.am-pm {
	font-size: 0.5em;
}

#info-container {
	font-size: 2em;
}

button {
	all: unset;
}

#interval-input {
	font: inherit;
	color: inherit;
	width: min-content;

	option {
		background-color: var(--color-accent);
		font-size: 0.8em;
	}
}

#interval-input,
button {
	background-color: var(--color-dark);
	border-radius: 2px;
	border: 2px solid var(--color-accent);
	transition: background-color 0.1s;
	padding: 0.2em;
	margin: 0;
	z-index: 1;

	&:hover,
	&.active {
		background-color: var(--color-accent);
	}
}

#speak {
	font-size: 0.8em;
	aspect-ratio: 1;
}

#info-bar {
	background-color: black;
	height: 5px;
	margin: 0.5em 0;

	#info-bar-inner {
		width: 0%;
		height: 100%;
		background-color: var(--color-accent);
	}
}
